﻿
@{
    ViewData["Title"] = "Login";
}

@model LoginViewModel

<div class="card float-right">
    <div class="card-header text-center">
        <h3 class="alert alert-success" style="font-family:Tahoma;font-size:medium">ثبت نام</h3>
    </div>
    <div class="card-body">
        <form action="/Account/LoginConfirm" method="post" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label">شماره تماس</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

        
            <div class="form-group">
                <label asp-for="Password" class="control-label">رمز عبور</label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button class="btn btn-block btn-success">Login</button>
        </form>
    </div>
</div>

