﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model OnlineChat_NimaChapi.Models.RegisterViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<div class="container" style="margin:auto;width:30%">

    <div style="margin:auto;" class="alert alert-dark text-center text-primary">

        @TempData["Ok"]

    </div>

    <div class="card float-right">
        <div class="card-header text-center">
            <h3 class="alert alert-success" style="font-family:Tahoma;font-size:medium">ثبت نام</h3>
        </div>
        <div class="card-body">
            <form action="/Account/RegisterConfirm" method="post" asp-antiforgery="true">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label">شماره تماس</label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Name" class="control-label">نام</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Fname" class="control-label">نام خانوادگی</label>
                    <input asp-for="Fname" class="form-control" />
                    <span asp-validation-for="Fname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">رمز عبور</label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button class="btn btn-block btn-success">ثبت نام</button>
            </form>
        </div>
    </div>



</div>

