﻿


@if (TempData["Logged"] != null)
{
    var user = TempData["Logged"] as RegisterViewModel;
    <label>@user.Name</label>
    <label>@user.Phone</label>

}
else
{
    <a href="/Account/Register">Register</a>
    <a href="/Account/Login">Login</a>
}


<div class="container" style="margin:auto;width:60%;margin-top:5%">
    <div class="card">
        <div class="card-header text-lg-center">
            Chat
        </div>
        <div class="card-body">
            <div class="text-right" style="padding-bottom:4%;" id="GetMessageFrom_Friend">
                <hr />
                <br />
                <span class="text-center" style="color:blue">سارا:</span>
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
                <label style="width:80%;max-width:80%">yyyyyhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyySSSyyyy</label>

            </div>
            <div class="text-right" style="padding-bottom:4%;" id="GetMessageFrom_Me">
                <hr />
                <br />
                <label style="width:80%;max-width:80%">yyyyyhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyySSSyyyy</label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="text-center" style="color:blue">:نیما</span>
            </div>
        </div>
        <div class="card-footer">
            <textarea style="width:100%;direction:rtl;height:20%;max-width:100%;min-width:100%;max-height:20%;min-height:20%"></textarea>
            <button class="btn btn-success float-right">ارسال</button>
        </div>
    </div>
</div>


